MONGO_URI=mongodb://127.0.0.1:27017/saahityik_library
PORT=5000
JWT_SECRET=supersecretjwtkey_12345
JWT_REFRESH_SECRET=supersecretrefreshkey_67890
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASS=your_pass
