


node_modules/
jspm_packages/


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm


# dotenv environment variable files (सुरक्षा के लिए सबसे जरूरी)
.env
.env.example
.gitignore
.env.development.local
.env.test.local
.env.production.local
.env.local

